---
import '../styles/main.css'
import Button from '../components/atoms/Button/Button'
import Login from '../components/organisms/Login/Login'
---

<div class="screen">
	<Login client:only />
	<form class="register-form" id="register-form">
		<label for="email">E-mail</label>
		<input id="email" name="email" type="email" />

		<label for="username">Username</label>
		<input id="username" name="username" />

		<label for="firstname">Name</label>
		<input id="firstname" name="first_name" />

		<label for="lastname">Last name</label>
		<input id="lastname" name="last_name" />

		<label for="password">Password</label>
		<input id="password" name="password" type="password" />

		<label for="passwordconfirm">Repeat password</label>
		<input id="passwordconfirm" name="password_confirm" type="password" />

		<Button type="submit">Register</Button>
	</form>
</div>

<script>
	import { registerNewUser } from '../services/authService'
	import type { TUserRegister } from '../types/users'

	const loginForm = document.getElementById('register-form') as HTMLFormElement

	loginForm.addEventListener('submit', async (e: SubmitEvent) => {
		e.preventDefault()

		const dataList = new FormData(e.target as HTMLFormElement) as FormData
		const dataObject: TUserRegister = {
			email: dataList.get('email') as string,
			username: dataList.get('username') as string,
			first_name: dataList.get('first_name') as string,
			last_name: dataList.get('last_name') as string,
			password: dataList.get('password') as string,
			password_confirm: dataList.get('password_confirm') as string,
		}

		registerNewUser(dataObject)
			.then((result) => {
				console.log('User registered = ', result)
			})
			.catch((reasons) =>
				reasons?.errors?.[0]
					? alert(reasons?.errors?.[0].msg)
					: alert('An unknown error occur')
			)
	})
</script>

<style>
	.screen {
		display: grid;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.register-form {
		display: flex;
		flex-direction: column;
		padding: 15px;
		border: 2px lightgray solid;
		border-radius: 20px;
	}
</style>
