---
import '../styles/main.css'
import Button from '../components/atoms/Button/Button'
---

<div class="screen">
	<form id="login-form" class="login-form">
		<label for="email">Email</label>
		<input id="email" name="email" />

		<label for="password">Password</label>
		<input type="password" id="password" name="password" />

		<Button type="submit">Login</Button>

		<Button type="button" variant="light" size="sm" classes="mt-[10px]">
			Create new account
		</Button>
	</form>
</div>

<script>
	import axios from 'axios'

	const loginForm = document.getElementById('login-form') as HTMLFormElement

	loginForm.addEventListener('submit', async (e) => {
		e.preventDefault()
		const dataList = new FormData(e.target as HTMLFormElement).entries()
		let dataObject = {}

		for (const input of dataList) {
			dataObject[input[0]] = input[1]
		}

		const response = (await axios
			.post('http://localhost:3001/api/login', dataObject)
			.catch((error) => {
				console.log('AXIOS ERROR', error)
				console.log('API ERROR MSG', error.response.data)
			})) as any

		console.log('res', response)
		if (response.statusText === 'OK') {
			localStorage.setItem('messagingapp-user', JSON.stringify(response.data))

			window.location.href = '/'
		}
	})
</script>

<style>
	.screen {
		display: grid;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}

	.login-form {
		display: flex;
		flex-direction: column;
		padding: 15px;
		border: 2px lightgray solid;
		border-radius: 20px;
	}

	input {
		padding: 5px;
		margin-bottom: 15px;
		border: 2px lightgray solid;
		border-radius: 10px;
	}
</style>
