---
import ConfigMenuDialog from '../ConfigMenuDialog/ConfigMenuDialog'
---

<header class="flex justify-between items-center p-4 bg-[--secondary]">
	<h1>Full Blown Messaging</h1>
	<ConfigMenuDialog client:only="react" />
</header>
