---
import ConfigMenuDialog from '../ConfigMenuDialog/ConfigMenuDialog'
---

<header class="flex justify-between rounded-lg p-2 bg-[--background]">
	<h1>Full Blown Messaging</h1>
	<ConfigMenuDialog client:only="react" />
</header>
